#quiz-interface{
    display: block;
}

.quiz-header{
    text-align: center;
    margin: 15px 0;
}

.quiz-header h1{
    text-align: center;
    font-size: 17px;
    color: rgb(46, 46, 46);
}

.question-interface{
    border: 2px solid rgb(11, 156, 122);
    text-align: center;
    padding: 20px 0;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

#quiz-question{
    font-size: 3vh;
}

.user-interface-container{
    margin: 0 5%;
}

.answer-container{
    max-width: 1200px;
    display: grid;
    grid-gap: 0.2rem;
    margin-top: 3%;
}

.option{
    color: black;
    padding: 1.7em 1em; 

    background-color: rgb(221, 221, 221);
    text-align: left;    
    border-radius: 3%;
    transition: 200ms;
}

.option:hover{
    box-shadow: 0px 0px 6px #c1c1c1;
    background-color: #5dbea5;

    cursor: pointer;
}

@media (min-width: 400px) {
    .answer-container {
      grid-template-columns: repeat(1, 1fr);
    }
}

  @media (min-width: 700px) {
    .answer-container {
      grid-template-columns: repeat(2, 1fr); 
    }
}


button{
        transition: 200ms;
        background-color: #65cfb3;
        color: #fff;
    
        border: 3px solid #5dbea5;
        border-radius: 6px;
        padding: 4px 38px;
        margin: 10px 0;
        box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.137);
    
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.6px;
        cursor: pointer;
}

button:hover{
    background-color: #87e7ce;
    border: 3px solid #6fdfc3;
}

button:active
{
    box-shadow: none;
}

#quiz-result{
    display: none;
}

.score{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.crrtDiv{
    margin: 7% 6%;
}

h3{
    font-size: 21px;
    font-weight: 600;
    border-bottom: 3px solid blanchedalmond;
    margin-bottom: 11px;
}

.back-btn
{
    margin-left: 6%;
    width: 10vh;
    height: 4vh;
}

#fullMark{
    display: none;
    text-align: center;
    margin: 6% 0;
}